frontend/site/templates/sections/index.pug
extend _layout

prepend html
	- custom.title = 'Diplomado en Marketing Estratégico'
	- custom.body_cls = 'body--home'

block main
	section.home
		video.videoBg(autoplay loop muted)
			source(src!=config.static_url("images/video-bg2.mp4"), type="video/mp4")
		.home__diplomado
			h1 Diplomado en
				br
				span Marketing 
					br 
					span Estratégico
			p.home__diplomado__desc Programa diseñado para que los participantes desarrollen sus capacidades estratégicas en el campo digital.
		.home__socials
			a(href!="https://www.linkedin.com/school/capacitacion-ccl/", target!="_blank")
				img(src!=config.static_url("images/in.png", alt!="Linkedin CCL"))
			a(href!="https://www.facebook.com/capacitacioncamaralima/", target!="_blank")
				img(src!=config.static_url("images/fb.png", alt!="Facebook CCL"))
	.diplomado__info
		.diplomado__info__inner
			.diplomado__info__nav
				ul
					li.diplomado__info__nav--active(data-show="info__presentacion") Presentación
					li(data-show="info__plan") Plan de Estudios
					li(data-show="info__teachers") Docentes
					li(data-show="info__financiamiento") Financiamiento
					li.diplomado__info__nav--info(data-show="info__form") Más información
			.info__container.info__presentacion
				.info__container__title
					p Presentación
				.info__container__content
					h2 Objetivos
					p Obtener los conocimientos que les permitirán la planificación, gestión e implementación de estrategias y acciones de marketing digital orientadas a generar posicionamiento, reconocimiento de marca.
					p Promocionar e impulsar campañas de comunicación en el mundo virtual, a fin de llegar de modo directo y no invasivo a sus potenciales consumidores.
					h2 A quien va dirigido
					p Directivo y ejecutivos de áreas comerciales de empresas que deseen ampliar la visión de los negocios y las posibilidades que se atbren hoy en el mundo de la virtualidad.
					p Comunicadores, relacionistas públicos, administradores, técnicos y estudiantes interesados en adentrarse en el conocimiento sobre la utilización de las redes sociales y otros mecanismos on line para el desarrollo de negocios.
			.info__container.info__plan
				.info__container__title
					p Plan de Estudios
				.info__container__content
					a(href!=config.static_url("pdf/brochure.pdf"), target!="_blank") Descargar brochure
					.info__container__content__modules
						p Módulo 1
						p La Evolución del Marketing
					.info__container__content__modules
						p Módulo 2
						p Estudio del consumidor digital y Branding
					.info__container__content__modules
						p Módulo 3
						p Estrategias de medios digitales
					.info__container__content__modules
						p Módulo 4
						p Content Marketing
					.info__container__content__modules
						p Módulo 5
						p Optimización, Posicionamiento y Publicidad OnLine
					.info__container__content__modules
						p Módulo 6
						p Estrategias de Comunidad y Comercio Digital
					.info__container__content__modules
						p Módulo 7
						p Community Management y Evaluación de Métricas
					.info__container__content__modules
						p Módulo 8
						p Nuevas tendencias del Marketing Digital
					.info__container__content__modules
						p Módulo 9
						p Módulo Integrador
							br 
			.info__container.info__teachers
				.info__container__title
						p Docentes
				.info__teachers__slide.info__container__content.owl-carousel.owl-theme
					.item
						.item__photo
							
							p Dr. Rafael Martínez Campoblanco 
						.item__desc
							p Doctor en Educación, International Lifelong Learning University (Curazao, Reino de los Países Bajos). Magister en Educación, Universidad de Panamá. 
							p Magister y especialista en Entornos Virtuales de aprendizaje. 
							p Licenciado en Educación, Universidad Central de Venezuela. 
							p Especialista en relaciones interinstitucionales entre empresas y universidades latinoamericanas. 
							p Experto en Sistemas de Gestión de Aprendizajes (Moodle, Blackboard y Canvas) para el diseño, creación y tutoría de Entornos Virtuales de Aprendizaje. 
							p Fundador y editor principal del Blog tizavirtual.blogspot.com con más de 130.000 visitas. 
							p Experiencia profesional en el sector público y privado con más de 10 años ocupando cargos de alta responsabilidad. 
							p Promueve el desarrollo de proyectos de emprendimiento digital con impacto social. Actualmente Gerente General de la Universidad Rafael Belloso Sede Perú. 
							p Docente de postgrado de la Universidad San Martin de Porres y de la Universidad Central de Venezuela. 
							p Expositor de TI y Marketing Digital del Centro de Capacitación de la Cámara de Comercio de Lima.

					.item
						.item__photo
							
							p Mag. Jorge Marcos Martínez Campoblanco
						.item__desc
							p Sociólogo especialista en Sociología Digital, Universidad Central de Venezuela. Magister en Gestión Pública, International Lifelong Learning University (Curazao, Reino de los Países Bajos), y Diplomado en Educación, Tecnología y Proyectos, Universidad Central de Venezuela. 
							p Docente Universitario en materias como Hombre, Ciencia y Tecnología, Nuevas Tecnologías en Comunicación e Información, Planificación Estratégica, Metodología de Investigación, Formulación y Evaluación de Proyectos; entre otras. 
							p Se ha desempeñado en Cargos Directivos y Ejecutivos tanto en organizaciones públicas y privadas en Venezuela, España, Estados Unidos y Perú. 
							p Es conferencista internacional en temas relacionados con e-learning, m-learning, Minería de Datos, Bullying, Logística y Cadena de Suministro, y Violencia entre otros temas. 

					.item
						.item__photo
							
							p Lic. Ernesto Montellanos Corzo
						.item__desc
							p Licenciado en Administración de Empresas, Universidad Inca Garcilaso de la Vega, con estudios de especialización en Comunicación Corporativa, Psicología Organizacional, y en Bioética Universidad Católica Argentina Santa María de los Buenos Aires. 
							p Conferencista y capacitador en desarrollo humano, comunicaciones y marketing. Coach y formador de equipos de alto desempeño.
							p Consultor en Imagen y comunicaciones y desarrollo de marca. 
							p Experiencia profesional gerenciando proyectos y empresas en el sector privado tanto en nuestro país como en el extranjero.
							p Experto en negociación multinivel, atención de cuentas claves, Brand management, marketing digital, planificación e implementación de campañas en empresas como Grupo Eduproject Internacional, Phideas SAC, Cappelletti & Asociados SRL Y Himini Editorial. 
							p Docente de la Cámara de Comercio de Lima, Ases Ingenieros y de la Escuela Conjunta de las Fuerzas Armadas. Actualmente Gerente Gerente de Global Bureau Consulting SAC. 

					.item
						.item__photo
							
							p Ing. Renzo André Silva Miranda
						.item__desc
							p Ingeniero de Sistemas, Universidad Inca Garcilaso de la Vega.
							p Especialización en el desarrollo de páginas web, sistemas online, comunicación digital para la gestión de empresas, y marketing digital. 
							p Cuenta con experiencia en el diseño y ejecución de planes de comunicación digital dirigidos a empresas públicas y privadas.
							p Docente de la Universidad San Martin de Porres y en el Centro de Capacitación de la Cámara de Comercio de Lima en temas de Marketing Digital. 
							p Actualmente Gerente General, InnovaWebCom. 

			.info__container.info__financiamiento
				.info__container__title
					p Financiamiento
				.info__financiamiento__slide.info__container__content.owl-carousel.owl-theme
					.item
						h2 Sede Callao
						ul 
							li Inicio: 25 de mayo
							li Frecuencia: sábado de 2:30 p.m. a 6:30 p.m.
							.info__financiamiento__slide__inversion
								ul
									li Inversión de asociado: S/ 2300
									li Inversión de no asociado: S/ 2850
						a(href!="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/fi_diplomado_ca_2019.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Sede Jesús María
						ul 
							li Inicio: 12 de junio
							li Frecuencia: lunes y miércoles 7:00 p.m. a 10:00 p.m.
							.info__financiamiento__slide__inversion
								ul
									li Inversión de asociado: S/ 2300
									li Inversión de no asociado: S/ 2850
						a(href!="https://www.capacitacionccl.edu.pe/wp-content/uploads/2018/04/fi_diplomado_jm_2018.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Sede Los Olivos
						ul 
							li Inicio: 26 de abril
							li Frecuencia: viernes 7:00 p.m. a 10:00 p.m.
							.info__financiamiento__slide__inversion
								ul
									li Inversión de asociado: S/ 2300
									li Inversión de no asociado: S/ 2850
						a(href!="https://www.capacitacionccl.edu.pe/wp-content/uploads/2018/04/fi_diplomado_lo_2018.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Sede San Juan de Miraflores
						ul 
							li Inicio: 11 de mayo
							li Frecuencia: sábado de 9:00 a.m. a 1:00 p.m.
							.info__financiamiento__slide__inversion
								ul
									li Inversión de asociado: S/ 2100
									li Inversión de no asociado: S/ 2600
						a(href!="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/fi_diplomado_sjm_2018.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Sede Santa Anita
						ul 
							li Inicio: 18 de mayo
							li Frecuencia: sábado de 9:00 a.m. a 1:00 p.m.
							.info__financiamiento__slide__inversion
								ul
									li Inversión de asociado: S/ 2300
									li Inversión de no asociado: S/ 2850
						a(href!="https://www.capacitacionccl.edu.pe/wp-content/uploads/2018/04/fi_diplomado_sa_2018.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Chiclayo
						ul 
							li Inicio: 15 de mayo
							.info__financiamiento__slide__inversion
								ul
									li Inversión S/. 2199
						a(href!="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/Ficha-de-Inscripci%C3%B3n-DIPLOMADO-EN-MKT-DIGITAL-ESTRATEGICO.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Huancayo
						ul 
							li Inicio: 17 de mayo
							.info__financiamiento__slide__inversion
								ul
									li Inversión S/. 1699
						a(href!="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/ficha-DIPLOMADO-HUANCAYO.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Arequipa
						ul 
							li Inicio: 12 de abril
							.info__financiamiento__slide__inversion
								ul
									li Inversión S/. 1699
						a(href!="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/ficha-inscripcion-DIPLOMADO-AREQ..doc", target="_blank")
							| Descargar Ficha de Inscripción

			.info__container.info__form
				.info__container__title
					p Más información
				.info__container__content
					h3 Solicita más información
					form#formularioMKT(method="POST" action="contacto.php" autocomplete="off")
						input(type="text", placeholder="Nombre", name="nombre" minlength="3" required)
						input(type="text", placeholder="Apellido Paterno", name="apellidoPat" minlength="2" required)
						input(type="text", placeholder="Apellido Materno", name="apellidoMat" minlength="2" required)
						input(type="email", placeholder="Email", name="email" minlength="5" required)
						input(type="tel", placeholder="Teléfono", name="telefono" minlength="7" maxlength="9" required)
						select(name="sede")
							option(value="Default" disabled selected) Selecciona tu Sede
							option(value="Jesús María") Jesús María
							option(value="Callao") Callao
							option(value="Los Olivos") Los Olivos
							option(value="San Juan de Miraflores") San Juan de Miraflores
							option(value="Santa Anita") Santa Anita
							option(value="Chiclayo") Chiclayo
							option(value="Huancayo") Huancayo
							option(value="Arequipa") Arequipa
						input(type="checkbox" name="tyc")
						label Autoriza a la CCL 
							span.form__tyc__button el uso de sus datos personales
						input(type="submit" value="Enviar")
						p.form__sendMsg Enviando ...
	.popup
		.popup__container
			p Al aceptar, autoriza que sus datos personales sean conservados y utilizados por la CCL, para fines estadísticos, administrativos y de gestión comercial u otros relacionados con el Estatuto de CCL, incluyendo, el envío de invitaciones a cursos, talleres, charlas y otros eventos que la CCL organice, auspicie o participe, y para la difusión de sus servicios. Sus datos serán conservados en un banco cuyo titular es la CCL, ubicada en Av. Giuseppe Garibaldi 396 - Jesús María. Para el ejercicio de sus derechos sobre los datos, puede dirigirse a la dirección indicada o enviar un correo electrónico a protecciondedatospersonales@camaralima.org.pe. La presente autorización es por tiempo indefinido y podrá ser revocada en cualquier momento.
			label.popup__close Cerrar	

block scripts
	+requireTag('site.home')

public/index.html
<!DOCTYPE html><!--[if lt IE 7]><html id="html" class="no-js lt-ie9 lt-ie8 lt-ie7" lang='es' xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if IE 7]><html id="html" class="no-js ie7 lt-ie9 lt-ie8" lang='es' xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if IE 8]><html id="html" class="no-js ie8 lt-ie9" lang="es" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if IE 9]><html id="html" class="no-js ie9 lt-ie10" lang="es" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<html id="html" lang="es">
  <!--<![endif]-->
  <head>
    <title>Diplomado en Marketing Estratégico | CCE</title>
    <meta name="description">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta property="og:title" content="Diplomado en Marketing Estratégico">
    <meta property="og:description">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <link rel="icon" type="image/png" href="static/favicon.ico"><!--[if gte IE 6 & lt IE 9]><script src!="<?php echo $this->basePath() ?>/site/scripts/libs/html5shiv.js"></script><![endif]-->
<!--[if gte IE 6 & lt IE 9]><script src!="<?php echo $this->basePath() ?>/site/scripts/libs/selectivizr.js"></script><![endif]-->
<!--[if lte IE 9]><script> window._ie = true; </script><![endif]-->
    <link href="static/styles/main.css" rel="stylesheet">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-19755324-26"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-19755324-26');
      
    </script>
  </head>
  <body class="body--home" id="body">
    <div class="MenuWeb">
      <div class="MenuWebContent">
        <div class="MenuWebContent-link"><a href="https://www.capacitacionccl.edu.pe/nosotros/" target="_blank">Centro</a></div>
        <div class="MenuWebContent-link"><a href="https://www.capacitacionccl.edu.pe/diplomados/" target="_blank">Diplomados</a></div>
        <div class="MenuWebContent-link"><a href="https://www.capacitacionccl.edu.pe/programas-especializacion-e-integrales/" target="_blank">Programas</a></div>
        <div class="MenuWebContent-link"><a href="https://www.capacitacionccl.edu.pe/cursos-cortos/" target="_blank">Cursos Cortos</a></div>
        <div class="MenuWebContent-link"><a href="https://www.capacitacionccl.edu.pe/seminarios/" target="_blank">Seminarios</a></div>
        <div class="MenuWebContent-link"><a href="http://www.capacitacionccl.edu.pe/cursos-virtuales/" target="_blank">Virtual</a></div>
      </div>
    </div>
    <div class="header">
      <div class="menu">
        <div class="menu__logo"><img src="static/images/ccl-logo.svg"></div>
        <ul>
          <li>
            <div class="BurgerMenu" id="MenuMobile"><span></span><span></span><span></span><span></span></div>
          </li>
        </ul>
      </div>
    </div>
    <main>
      <section class="home">
        <video class="videoBg" autoplay loop muted>
          <source src="static/images/video-bg2.mp4" type="video/mp4">
        </video>
        <div class="home__diplomado">
          <h1>Diplomado en<br><span>Marketing <br><span>Estratégico</span></span></h1>
          <p class="home__diplomado__desc">Programa diseñado para que los participantes desarrollen sus capacidades estratégicas en el campo digital.</p>
        </div>
        <div class="home__socials"><a href="https://www.linkedin.com/school/capacitacion-ccl/" target="_blank"><img src="static/images/in.png"></a><a href="https://www.facebook.com/capacitacioncamaralima/" target="_blank"><img src="static/images/fb.png"></a></div>
      </section>
      <div class="diplomado__info">
        <div class="diplomado__info__inner">
          <div class="diplomado__info__nav">
            <ul>
              <li class="diplomado__info__nav--active" data-show="info__presentacion">Presentación</li>
              <li data-show="info__plan">Plan de Estudios</li>
              <li data-show="info__teachers">Docentes</li>
              <li data-show="info__financiamiento">Financiamiento</li>
              <li class="diplomado__info__nav--info" data-show="info__form">Más información</li>
            </ul>
          </div>
          <div class="info__container info__presentacion">
            <div class="info__container__title">
              <p>Presentación</p>
            </div>
            <div class="info__container__content">
              <h2>Objetivos</h2>
              <p>Obtener los conocimientos que les permitirán la planificación, gestión e implementación de estrategias y acciones de marketing digital orientadas a generar posicionamiento, reconocimiento de marca.</p>
              <p>Promocionar e impulsar campañas de comunicación en el mundo virtual, a fin de llegar de modo directo y no invasivo a sus potenciales consumidores.</p>
              <h2>A quien va dirigido</h2>
              <p>Directivo y ejecutivos de áreas comerciales de empresas que deseen ampliar la visión de los negocios y las posibilidades que se atbren hoy en el mundo de la virtualidad.</p>
              <p>Comunicadores, relacionistas públicos, administradores, técnicos y estudiantes interesados en adentrarse en el conocimiento sobre la utilización de las redes sociales y otros mecanismos on line para el desarrollo de negocios.</p>
            </div>
          </div>
          <div class="info__container info__plan">
            <div class="info__container__title">
              <p>Plan de Estudios</p>
            </div>
            <div class="info__container__content"><a href="static/pdf/brochure.pdf" target="_blank">Descargar brochure</a>
              <div class="info__container__content__modules">
                <p>Módulo 1</p>
                <p>La Evolución del Marketing</p>
              </div>
              <div class="info__container__content__modules">
                <p>Módulo 2</p>
                <p>Estudio del consumidor digital y Branding</p>
              </div>
              <div class="info__container__content__modules">
                <p>Módulo 3</p>
                <p>Estrategias de medios digitales</p>
              </div>
              <div class="info__container__content__modules">
                <p>Módulo 4</p>
                <p>Content Marketing</p>
              </div>
              <div class="info__container__content__modules">
                <p>Módulo 5</p>
                <p>Optimización, Posicionamiento y Publicidad OnLine</p>
              </div>
              <div class="info__container__content__modules">
                <p>Módulo 6</p>
                <p>Estrategias de Comunidad y Comercio Digital</p>
              </div>
              <div class="info__container__content__modules">
                <p>Módulo 7</p>
                <p>Community Management y Evaluación de Métricas</p>
              </div>
              <div class="info__container__content__modules">
                <p>Módulo 8</p>
                <p>Nuevas tendencias del Marketing Digital</p>
              </div>
              <div class="info__container__content__modules">
                <p>Módulo 9</p>
                <p>Módulo Integrador<br></p>
              </div>
            </div>
          </div>
          <div class="info__container info__teachers">
            <div class="info__container__title">
              <p>Docentes</p>
            </div>
            <div class="info__teachers__slide info__container__content owl-carousel owl-theme">
              <div class="item">
                <div class="item__photo">
                  <p>Dr. Rafael Martínez Campoblanco </p>
                </div>
                <div class="item__desc">
                  <p>Doctor en Educación, International Lifelong Learning University (Curazao, Reino de los Países Bajos). Magister en Educación, Universidad de Panamá. </p>
                  <p>Magister y especialista en Entornos Virtuales de aprendizaje. </p>
                  <p>Licenciado en Educación, Universidad Central de Venezuela. </p>
                  <p>Especialista en relaciones interinstitucionales entre empresas y universidades latinoamericanas. </p>
                  <p>Experto en Sistemas de Gestión de Aprendizajes (Moodle, Blackboard y Canvas) para el diseño, creación y tutoría de Entornos Virtuales de Aprendizaje. </p>
                  <p>Fundador y editor principal del Blog tizavirtual.blogspot.com con más de 130.000 visitas. </p>
                  <p>Experiencia profesional en el sector público y privado con más de 10 años ocupando cargos de alta responsabilidad. </p>
                  <p>Promueve el desarrollo de proyectos de emprendimiento digital con impacto social. Actualmente Gerente General de la Universidad Rafael Belloso Sede Perú. </p>
                  <p>Docente de postgrado de la Universidad San Martin de Porres y de la Universidad Central de Venezuela. </p>
                  <p>Expositor de TI y Marketing Digital del Centro de Capacitación de la Cámara de Comercio de Lima.</p>
                </div>
              </div>
              <div class="item">
                <div class="item__photo">
                  <p>Mag. Jorge Marcos Martínez Campoblanco</p>
                </div>
                <div class="item__desc">
                  <p>Sociólogo especialista en Sociología Digital, Universidad Central de Venezuela. Magister en Gestión Pública, International Lifelong Learning University (Curazao, Reino de los Países Bajos), y Diplomado en Educación, Tecnología y Proyectos, Universidad Central de Venezuela. </p>
                  <p>Docente Universitario en materias como Hombre, Ciencia y Tecnología, Nuevas Tecnologías en Comunicación e Información, Planificación Estratégica, Metodología de Investigación, Formulación y Evaluación de Proyectos; entre otras. </p>
                  <p>Se ha desempeñado en Cargos Directivos y Ejecutivos tanto en organizaciones públicas y privadas en Venezuela, España, Estados Unidos y Perú. </p>
                  <p>Es conferencista internacional en temas relacionados con e-learning, m-learning, Minería de Datos, Bullying, Logística y Cadena de Suministro, y Violencia entre otros temas. </p>
                </div>
              </div>
              <div class="item">
                <div class="item__photo">
                  <p>Lic. Ernesto Montellanos Corzo</p>
                </div>
                <div class="item__desc">
                  <p>Licenciado en Administración de Empresas, Universidad Inca Garcilaso de la Vega, con estudios de especialización en Comunicación Corporativa, Psicología Organizacional, y en Bioética Universidad Católica Argentina Santa María de los Buenos Aires. </p>
                  <p>Conferencista y capacitador en desarrollo humano, comunicaciones y marketing. Coach y formador de equipos de alto desempeño.</p>
                  <p>Consultor en Imagen y comunicaciones y desarrollo de marca. </p>
                  <p>Experiencia profesional gerenciando proyectos y empresas en el sector privado tanto en nuestro país como en el extranjero.</p>
                  <p>Experto en negociación multinivel, atención de cuentas claves, Brand management, marketing digital, planificación e implementación de campañas en empresas como Grupo Eduproject Internacional, Phideas SAC, Cappelletti & Asociados SRL Y Himini Editorial. </p>
                  <p>Docente de la Cámara de Comercio de Lima, Ases Ingenieros y de la Escuela Conjunta de las Fuerzas Armadas. Actualmente Gerente Gerente de Global Bureau Consulting SAC. </p>
                </div>
              </div>
              <div class="item">
                <div class="item__photo">
                  <p>Ing. Renzo André Silva Miranda</p>
                </div>
                <div class="item__desc">
                  <p>Ingeniero de Sistemas, Universidad Inca Garcilaso de la Vega.</p>
                  <p>Especialización en el desarrollo de páginas web, sistemas online, comunicación digital para la gestión de empresas, y marketing digital. </p>
                  <p>Cuenta con experiencia en el diseño y ejecución de planes de comunicación digital dirigidos a empresas públicas y privadas.</p>
                  <p>Docente de la Universidad San Martin de Porres y en el Centro de Capacitación de la Cámara de Comercio de Lima en temas de Marketing Digital. </p>
                  <p>Actualmente Gerente General, InnovaWebCom. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="info__container info__financiamiento">
            <div class="info__container__title">
              <p>Financiamiento</p>
            </div>
            <div class="info__financiamiento__slide info__container__content owl-carousel owl-theme">
              <div class="item">
                <h2>Sede Callao</h2>
                <ul> 
                  <li>Inicio: 25 de mayo</li>
                  <li>Frecuencia: sábado de 2:30 p.m. a 6:30 p.m.</li>
                  <div class="info__financiamiento__slide__inversion">
                    <ul>
                      <li>Inversión de asociado: S/ 2300</li>
                      <li>Inversión de no asociado: S/ 2850</li>
                    </ul>
                  </div>
                </ul><a href="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/fi_diplomado_ca_2019.doc" target="_blank">Descargar Ficha de Inscripción</a>
              </div>
              <div class="item">
                <h2>Sede Jesús María</h2>
                <ul> 
                  <li>Inicio: 12 de junio</li>
                  <li>Frecuencia: lunes y miércoles 7:00 p.m. a 10:00 p.m.</li>
                  <div class="info__financiamiento__slide__inversion">
                    <ul>
                      <li>Inversión de asociado: S/ 2300</li>
                      <li>Inversión de no asociado: S/ 2850</li>
                    </ul>
                  </div>
                </ul><a href="https://www.capacitacionccl.edu.pe/wp-content/uploads/2018/04/fi_diplomado_jm_2018.doc" target="_blank">Descargar Ficha de Inscripción</a>
              </div>
              <div class="item">
                <h2>Sede Los Olivos</h2>
                <ul> 
                  <li>Inicio: 26 de abril</li>
                  <li>Frecuencia: viernes 7:00 p.m. a 10:00 p.m.</li>
                  <div class="info__financiamiento__slide__inversion">
                    <ul>
                      <li>Inversión de asociado: S/ 2300</li>
                      <li>Inversión de no asociado: S/ 2850</li>
                    </ul>
                  </div>
                </ul><a href="https://www.capacitacionccl.edu.pe/wp-content/uploads/2018/04/fi_diplomado_lo_2018.doc" target="_blank">Descargar Ficha de Inscripción</a>
              </div>
              <div class="item">
                <h2>Sede San Juan de Miraflores</h2>
                <ul> 
                  <li>Inicio: 11 de mayo</li>
                  <li>Frecuencia: sábado de 9:00 a.m. a 1:00 p.m.</li>
                  <div class="info__financiamiento__slide__inversion">
                    <ul>
                      <li>Inversión de asociado: S/ 2100</li>
                      <li>Inversión de no asociado: S/ 2600</li>
                    </ul>
                  </div>
                </ul><a href="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/fi_diplomado_sjm_2018.doc" target="_blank">Descargar Ficha de Inscripción</a>
              </div>
              <div class="item">
                <h2>Sede Santa Anita</h2>
                <ul> 
                  <li>Inicio: 18 de mayo</li>
                  <li>Frecuencia: sábado de 9:00 a.m. a 1:00 p.m.</li>
                  <div class="info__financiamiento__slide__inversion">
                    <ul>
                      <li>Inversión de asociado: S/ 2300</li>
                      <li>Inversión de no asociado: S/ 2850</li>
                    </ul>
                  </div>
                </ul><a href="https://www.capacitacionccl.edu.pe/wp-content/uploads/2018/04/fi_diplomado_sa_2018.doc" target="_blank">Descargar Ficha de Inscripción</a>
              </div>
              <div class="item">
                <h2>Chiclayo</h2>
                <ul> 
                  <li>Inicio: 15 de mayo</li>
                  <div class="info__financiamiento__slide__inversion">
                    <ul>
                      <li>Inversión S/. 2199</li>
                    </ul>
                  </div>
                </ul><a href="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/Ficha-de-Inscripci%C3%B3n-DIPLOMADO-EN-MKT-DIGITAL-ESTRATEGICO.doc" target="_blank">Descargar Ficha de Inscripción</a>
              </div>
              <div class="item">
                <h2>Huancayo</h2>
                <ul> 
                  <li>Inicio: 17 de mayo</li>
                  <div class="info__financiamiento__slide__inversion">
                    <ul>
                      <li>Inversión S/. 1699</li>
                    </ul>
                  </div>
                </ul><a href="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/ficha-DIPLOMADO-HUANCAYO.doc" target="_blank">Descargar Ficha de Inscripción</a>
              </div>
              <div class="item">
                <h2>Arequipa</h2>
                <ul> 
                  <li>Inicio: 12 de abril</li>
                  <div class="info__financiamiento__slide__inversion">
                    <ul>
                      <li>Inversión S/. 1699</li>
                    </ul>
                  </div>
                </ul><a href="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/ficha-inscripcion-DIPLOMADO-AREQ..doc" target="_blank">Descargar Ficha de Inscripción</a>
              </div>
            </div>
          </div>
          <div class="info__container info__form">
            <div class="info__container__title">
              <p>Más información</p>
            </div>
            <div class="info__container__content">
              <h3>Solicita más información</h3>
              <form id="formularioMKT" method="POST" action="contacto.php" autocomplete="off">
                <input type="text" placeholder="Nombre" name="nombre" minlength="3" required>
                <input type="text" placeholder="Apellido Paterno" name="apellidoPat" minlength="2" required>
                <input type="text" placeholder="Apellido Materno" name="apellidoMat" minlength="2" required>
                <input type="email" placeholder="Email" name="email" minlength="5" required>
                <input type="tel" placeholder="Teléfono" name="telefono" minlength="7" maxlength="9" required>
                <select name="sede">
                  <option value="Default" disabled selected>Selecciona tu Sede</option>
                  <option value="Jesús María">Jesús María</option>
                  <option value="Callao">Callao</option>
                  <option value="Los Olivos">Los Olivos</option>
                  <option value="San Juan de Miraflores">San Juan de Miraflores</option>
                  <option value="Santa Anita">Santa Anita</option>
                  <option value="Chiclayo">Chiclayo</option>
                  <option value="Huancayo">Huancayo</option>
                  <option value="Arequipa">Arequipa</option>
                </select>
                <input type="checkbox" name="tyc">
                <label>Autoriza a la CCL <span class="form__tyc__button">el uso de sus datos personales</span></label>
                <input type="submit" value="Enviar">
                <p class="form__sendMsg">Enviando ...</p>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="popup">
        <div class="popup__container">
          <p>Al aceptar, autoriza que sus datos personales sean conservados y utilizados por la CCL, para fines estadísticos, administrativos y de gestión comercial u otros relacionados con el Estatuto de CCL, incluyendo, el envío de invitaciones a cursos, talleres, charlas y otros eventos que la CCL organice, auspicie o participe, y para la difusión de sus servicios. Sus datos serán conservados en un banco cuyo titular es la CCL, ubicada en Av. Giuseppe Garibaldi 396 - Jesús María. Para el ejercicio de sus derechos sobre los datos, puede dirigirse a la dirección indicada o enviar un correo electrónico a protecciondedatospersonales@camaralima.org.pe. La presente autorización es por tiempo indefinido y podrá ser revocada en cualquier momento.</p>
          <label class="popup__close">Cerrar	</label>
        </div>
      </div>
    </main>
    <div class="footer">
      <p>Av. Giuseppe Garibaldi 396  (Ex Av. Gregorio Escobedo)</p>
      <p>Email: programasccl@camaralima.org.pe</p>
      <p>Teléfono: (+51) 219 1616</p>
    </div>
    <script type="text/javascript" src="static/scripts/libs/require.js"></script>
    <script type="text/javascript">require.config({
  baseUrl:'/static/scripts',
  paths: {
    'alphanumeric': 'libs/jquery.alphanumeric', 
    'owlslider': 'libs/owlslider', 
    'jquery': 'libs/jquery-1.11.0',
    'menu': 'modules/menu'
  },
  shim: {
    'alphanumeric':[
      'jquery'
    ],
    'owlslider':[
      'jquery'
    ]
  }
});
    </script>
    <script type="text/javascript">
      require.config({
        baseUrl:'static/' + 'scripts'
      })
      require(['site.home']);
      
    </script>
  </body>
</html>
