frontend/site/templates/sections/thanks.pug
extend _layout

prepend html
	- custom.title = 'Gracias | Diplomado en Marketing Estratégico'
	- custom.body_cls = 'body--thanks body--home'

block main
	section.home
		video.videoBg(autoplay loop muted)
			source(src!=config.static_url("images/video-bg2.mp4"), type="video/mp4")
		.home__diplomado
			h1 ¡Gracias por contactarnos!
			p.home__diplomado__desc Pronto nos estaremos contactando contigo.
		.home__socials
			a(href!="https://www.linkedin.com/school/capacitacion-ccl/", target!="_blank")
				img(src!=config.static_url("images/in.png", alt!="Linkedin CCL"))
			a(href!="https://www.facebook.com/capacitacioncamaralima/", target!="_blank")
				img(src!=config.static_url("images/fb.png", alt!="Facebook CCL"))

block scripts
	+requireTag('site.home')

public/thanks.html
<!DOCTYPE html><!--[if lt IE 7]><html id="html" class="no-js lt-ie9 lt-ie8 lt-ie7" lang='es' xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if IE 7]><html id="html" class="no-js ie7 lt-ie9 lt-ie8" lang='es' xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if IE 8]><html id="html" class="no-js ie8 lt-ie9" lang="es" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if IE 9]><html id="html" class="no-js ie9 lt-ie10" lang="es" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<html id="html" lang="es">
  <!--<![endif]-->
  <head>
    <title>Gracias | Diplomado en Marketing Estratégico | CCE</title>
    <meta name="description">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta property="og:title" content="Gracias | Diplomado en Marketing Estratégico">
    <meta property="og:description">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <link rel="icon" type="image/png" href="static/favicon.ico"><!--[if gte IE 6 & lt IE 9]><script src!="<?php echo $this->basePath() ?>/site/scripts/libs/html5shiv.js"></script><![endif]-->
<!--[if gte IE 6 & lt IE 9]><script src!="<?php echo $this->basePath() ?>/site/scripts/libs/selectivizr.js"></script><![endif]-->
<!--[if lte IE 9]><script> window._ie = true; </script><![endif]-->
    <link href="static/styles/main.css" rel="stylesheet">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-19755324-26"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-19755324-26');
      
    </script>
  </head>
  <body class="body--thanks body--home" id="body">
    <div class="MenuWeb">
      <div class="MenuWebContent">
        <div class="MenuWebContent-link"><a href="https://www.capacitacionccl.edu.pe/nosotros/" target="_blank">Centro</a></div>
        <div class="MenuWebContent-link"><a href="https://www.capacitacionccl.edu.pe/diplomados/" target="_blank">Diplomados</a></div>
        <div class="MenuWebContent-link"><a href="https://www.capacitacionccl.edu.pe/programas-especializacion-e-integrales/" target="_blank">Programas</a></div>
        <div class="MenuWebContent-link"><a href="https://www.capacitacionccl.edu.pe/cursos-cortos/" target="_blank">Cursos Cortos</a></div>
        <div class="MenuWebContent-link"><a href="https://www.capacitacionccl.edu.pe/seminarios/" target="_blank">Seminarios</a></div>
        <div class="MenuWebContent-link"><a href="http://www.capacitacionccl.edu.pe/cursos-virtuales/" target="_blank">Virtual</a></div>
      </div>
    </div>
    <div class="header">
      <div class="menu">
        <div class="menu__logo"><img src="static/images/ccl-logo.svg"></div>
        <ul>
          <li>
            <div class="BurgerMenu" id="MenuMobile"><span></span><span></span><span></span><span></span></div>
          </li>
        </ul>
      </div>
    </div>
    <main>
      <section class="home">
        <video class="videoBg" autoplay loop muted>
          <source src="static/images/video-bg2.mp4" type="video/mp4">
        </video>
        <div class="home__diplomado">
          <h1>¡Gracias por contactarnos!</h1>
          <p class="home__diplomado__desc">Pronto nos estaremos contactando contigo.</p>
        </div>
        <div class="home__socials"><a href="https://www.linkedin.com/school/capacitacion-ccl/" target="_blank"><img src="static/images/in.png"></a><a href="https://www.facebook.com/capacitacioncamaralima/" target="_blank"><img src="static/images/fb.png"></a></div>
      </section>
    </main>
    <div class="footer">
      <p>Av. Giuseppe Garibaldi 396  (Ex Av. Gregorio Escobedo)</p>
      <p>Email: programasccl@camaralima.org.pe</p>
      <p>Teléfono: (+51) 219 1616</p>
    </div>
    <script type="text/javascript" src="static/scripts/libs/require.js"></script>
    <script type="text/javascript">require.config({
  baseUrl:'/static/scripts',
  paths: {
    'alphanumeric': 'libs/jquery.alphanumeric', 
    'owlslider': 'libs/owlslider', 
    'jquery': 'libs/jquery-1.11.0',
    'menu': 'modules/menu'
  },
  shim: {
    'alphanumeric':[
      'jquery'
    ],
    'owlslider':[
      'jquery'
    ]
  }
});
    </script>
    <script type="text/javascript">
      require.config({
        baseUrl:'static/' + 'scripts'
      })
      require(['site.home']);
      
    </script>
  </body>
</html>
